@media screen and (max-width: 1360px) {
    .header {
        padding: 36px 40px;
    }

    .hero__content {
        padding: 65px 60px 0;
        gap: 10px;
    }

    .hero__img-container {
        display: none;
    }

    .header__search-bar {
        width: 250px;
    }
}

@media screen and (max-width: 1270px) {
    .courses {
        padding: 0 20px;
    }

    .curses__card-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .card__image-container img {
        width: 100%;
    }

    .card {
        max-width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .courses__tab-list {
        flex-wrap: wrap;
        justify-content: flex-start;
}

.header__input-container {
    display: none;
}

.courses__tab-list {
    row-gap: 10px;
    padding: 0 20px;
}

.card__name {
    max-width: 250px;
}

.hero__circle {
    z-index: -1;
}

}

@media screen and (max-width: 767px) {
    .hero__heading {
        font-size: 38px;
        font-weight: 600;
        line-height: 48px;
        margin-bottom: 24px;
        padding-top: 23px;
    }

    .curses__card-container {
        grid-template-columns: 1fr;
    }

    .courses__tab-list {
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-x: auto;
        column-gap: 15px;
    }

    .courses__tab {
        white-space: nowrap;
    }

    .courses__tab_active {
        color: $colorPink;
        background-color: #fff;
    }

    .hero__content {
        padding: 50px 40px 40px;
        height: auto;
    }

    .courses__heading {
        font-size: 28px;
        line-height: 63.98px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .hero__plus-container {
        gap: 10px;
        padding-bottom: 30px;
        flex-direction: column;
    }

    .hero__search-bar::placeholder {
        color: transparent;
    }

    .hero {
        margin-bottom: 50px;
    }

    .hero-container-left {
        width: 100%;
        max-width: 100%;
    }

    .header__container:last-of-type {
        display: none;
    }

    .header__btn_mobile {
        background-color: $colorPink;
        border: 1px solid;
        color: #fff;
    }

    .header {
        padding: 36px 20px;
    }
}

@media screen and (min-width: 768px) {
    .header__btn_mobile {
        display: none;
    }
}