@media screen and (max-width: 1360px) {
  .header {
    padding: 36px 40px;
  }
  .hero__content {
    padding: 65px 60px 0;
    gap: 10px;
  }
  .hero__img-container {
    display: none;
  }
  .header__search-bar {
    width: 250px;
  }
}
@media screen and (max-width: 1270px) {
  .courses {
    padding: 0 20px;
  }
  .curses__card-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__image-container img {
    width: 100%;
  }
  .card {
    max-width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .courses__tab-list {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .header__input-container {
    display: none;
  }
  .courses__tab-list {
    row-gap: 10px;
    padding: 0 20px;
  }
  .card__name {
    max-width: 250px;
  }
  .hero__circle {
    z-index: -1;
  }
}
@media screen and (max-width: 767px) {
  .hero__heading {
    font-size: 38px;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 24px;
    padding-top: 23px;
  }
  .curses__card-container {
    grid-template-columns: 1fr;
  }
  .courses__tab-list {
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .courses__tab {
    white-space: nowrap;
  }
  .courses__tab_active {
    color: #F72585;
    background-color: #fff;
  }
  .hero__content {
    padding: 50px 40px 40px;
    height: auto;
  }
  .courses__heading {
    font-size: 28px;
    line-height: 63.98px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .hero__plus-container {
    gap: 10px;
    padding-bottom: 30px;
    flex-direction: column;
  }
  .hero__search-bar::-moz-placeholder {
    color: transparent;
  }
  .hero__search-bar:-ms-input-placeholder {
    color: transparent;
  }
  .hero__search-bar::placeholder {
    color: transparent;
  }
  .hero {
    margin-bottom: 50px;
  }
  .hero-container-left {
    width: 100%;
    max-width: 100%;
  }
  .header__container:last-of-type {
    display: none;
  }
  .header__btn_mobile {
    background-color: #F72585;
    border: 1px solid;
    color: #fff;
  }
  .header {
    padding: 36px 20px;
  }
}
@media screen and (min-width: 768px) {
  .header__btn_mobile {
    display: none;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.center {
  margin: 0 auto;
}

.header {
  padding: 36px 104px;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  font-family: "Montserrat", sans-serif;
}
.header__container {
  display: flex;
  gap: 24px;
  align-items: center;
}
.header__btn-container {
  display: flex;
  gap: 16px;
}
.header__link {
  text-decoration: none;
  color: #1C3554;
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
}
.header__btn {
  padding: 8px 31px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 32px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  height: 48px;
}
.header__btn_white {
  background-color: #fff;
  color: #1C3554;
  border: 1px solid #1C3554;
}
.header__btn_pink {
  background-color: #F72585;
  border: 1px solid;
  color: #fff;
}
.header__search-bar {
  padding: 12px 16px;
  width: 443px;
  border-radius: 8px;
  border: 1px solid #ccc;
  height: 48px;
}
.header__search-bar::-moz-placeholder {
  color: #808080;
  font-size: 14px;
  line-height: 24px;
  font-family: inherit;
  font-family: "Montserrat", sans-serif;
}
.header__search-bar:-ms-input-placeholder {
  color: #808080;
  font-size: 14px;
  line-height: 24px;
  font-family: inherit;
  font-family: "Montserrat", sans-serif;
}
.header__search-bar::placeholder {
  color: #808080;
  font-size: 14px;
  line-height: 24px;
  font-family: inherit;
  font-family: "Montserrat", sans-serif;
}
.header__input-container {
  position: relative;
}
.header__input-container::before {
  content: url(./assets/images/search-gray.svg);
  width: 24px;
  position: absolute;
  right: 14px;
  top: 50%;
  pointer-events: none;
  transform: translateY(-50%);
}

.hero {
  font-family: "Rubik", sans-serif;
  margin-bottom: 88px;
}
.hero__content {
  max-width: 1360px;
  background-color: #021934;
  padding: 65px 64px 0;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 748px;
}
.hero__circle {
  position: absolute;
  height: 466px;
  width: 466px;
  border-radius: 50%;
  top: 200px;
  right: 96px;
  background-color: #FA6BAC;
  filter: blur(246px);
  z-index: 3;
}
.hero__heading {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 88px;
  margin-bottom: 24px;
  padding-top: 23px;
}
.hero__desc {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 66px;
}
.hero-container-left {
  max-width: 610px;
}
.hero__search-bar {
  padding: 24px 16px 28px;
  margin-bottom: 56px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid;
  height: 80px;
  z-index: 5;
}
.hero__search-bar::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 27px;
  padding-left: 40px;
  color: #808080;
}
.hero__search-bar:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 27px;
  padding-left: 40px;
  color: #808080;
}
.hero__search-bar::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 27px;
  padding-left: 40px;
  color: #808080;
}
.hero__search-bar-container {
  position: relative;
}
.hero__search-bar-container::before {
  content: url(./assets/images/search.svg);
  width: 28px;
  position: absolute;
  left: 16px;
  top: calc(50% - 28px);
  pointer-events: none;
  transform: translateY(-50%);
}
.hero__search-btn {
  position: absolute;
  right: 16px;
  top: calc(50% - 28px);
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 34px;
  background-color: #F72585;
  color: #fff;
  font-family: inherit;
  border: 1px solid;
  border-radius: 8px;
  height: 56px;
}
.hero__plus-container {
  display: flex;
  gap: 48px;
  padding-bottom: 88px;
}
.hero__plus-item {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}
.hero__img-container {
  position: relative;
  z-index: 4;
}
.hero__icon {
  position: absolute;
}
.hero__basic-img {
  border-radius: 8px;
}

.hero__rating {
  color: #1C3554;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.hero__rating-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 54px;
  right: 30px;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
}
.hero__rating-text {
  color: #1C3554;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 4px;
}

.hero__star-container {
  display: flex;
  gap: 8px;
}

.hero__icon_bell {
  top: 56.66px;
  left: 80.66px;
  transform: rotate(-22deg);
}
.hero__icon_verifire {
  top: 303.5px;
  right: 11px;
  transform: rotate(29deg);
}
.hero__icon_love {
  bottom: 239px;
  left: 55.85px;
  transform: rotate(-19.5deg);
}

.hero__plus-item_acces::before {
  content: url(./assets/images/access_alarm.svg);
  width: 28px;
  margin-right: 5px;
  vertical-align: middle;
}
.hero__plus-item_mentor::before {
  content: url(./assets/images/user.svg);
  width: 28px;
  margin-right: 5px;
  vertical-align: middle;
}
.hero__plus-item_courses::before {
  content: url(./assets/images/video_library.svg);
  width: 28px;
  margin-right: 5px;
  vertical-align: middle;
}

.courses {
  max-width: 1228px;
  font-family: "Rubik", sans-serif;
}
.courses__heading {
  font-size: 48px;
  line-height: 63.98px;
  font-weight: 700;
  color: #1C3554;
  text-align: center;
  margin-bottom: 56px;
}
.courses__tab {
  list-style: none;
  font-size: 16px;
  line-height: 32px;
  color: #aaa;
  cursor: pointer;
  padding: 8px 0;
  width: 167px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.courses__tab_active {
  color: #fff;
  background-color: #F72585;
  border-radius: 8px;
}
.courses__tab-list {
  display: flex;
  max-width: 941px;
  justify-content: space-between;
}
.courses__tab-container {
  margin-bottom: 32px;
}

.card {
  max-width: 295px;
  padding: 16px;
  border-radius: 8px;
}
.card:hover {
  box-shadow: 40px 40px 57px rgba(0, 0, 0, 0.1);
}
.card__name {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  margin-bottom: 8px;
}
.card__author {
  font-size: 12px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #F72585;
  margin-bottom: 11px;
}
.card__star-container {
  display: flex;
  gap: 4.01px;
  margin-bottom: 18px;
}
.card__star {
  width: 16.05px;
  height: 16px;
}
.card__votes-amount {
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat", sans-serif;
  color: #808080;
  font-weight: 600;
  padding-left: 3px;
}
.card__price_old {
  font-size: 16px;
  line-height: 27px;
  color: #ccc;
  text-decoration: line-through;
  font-family: "Montserrat", sans-serif;
  padding-top: 3px;
}
.card__price-container {
  display: flex;
  gap: 8.09px;
}
.card__price_sale {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: #1C3554;
  font-family: "Rubik", sans-serif;
}
.card__image-container {
  position: relative;
  margin-bottom: 24px;
}
.card__category {
  position: absolute;
  left: 50%;
  bottom: -7px;
  transform: translateX(-50%);
  color: #fff;
  font-size: 12px;
  line-height: 24px;
  background-color: #4586D6;
  border-radius: 8px;
  padding: 4px 24px;
  border: none;
  pointer-events: none;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
}

.curses__card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 24px;
  -moz-column-gap: 16px;
       column-gap: 16px;
  margin-bottom: 57px;
}

.courses__btn {
  background-color: #F72585;
  padding: 14px 87.5px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  display: block;
  margin: 0 auto;
  margin-bottom: 120px;
  font-size: 16px;
  line-height: 32px;
}

.header__btn_pink:hover, .hero__search-btn:hover, .courses__btn:hover {
  background-color: #fff;
  color: #F72585;
  border: 1px solid #F72585;
}

.header__btn_pink:active, .hero__search-btn:active, .courses__btn:active {
  background-color: #FA6BAC;
  color: #fff;
  border: 1px solid;
}

.card__category_public {
  white-space: nowrap;
}

@media screen and (max-width: 1360px) {
  .header {
    padding: 36px 40px;
  }
  .hero__content {
    padding: 65px 60px 0;
    gap: 10px;
  }
  .hero__img-container {
    display: none;
  }
  .header__search-bar {
    width: 250px;
  }
}
@media screen and (max-width: 1270px) {
  .courses {
    padding: 0 20px;
  }
  .curses__card-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__image-container img {
    width: 100%;
  }
  .card {
    max-width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .courses__tab-list {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .header__input-container {
    display: none;
  }
  .courses__tab-list {
    row-gap: 10px;
    padding: 0 20px;
  }
  .card__name {
    max-width: 250px;
  }
  .hero__circle {
    z-index: -1;
  }
}
@media screen and (max-width: 767px) {
  .hero__heading {
    font-size: 38px;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 24px;
    padding-top: 23px;
  }
  .curses__card-container {
    grid-template-columns: 1fr;
  }
  .courses__tab-list {
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .courses__tab {
    white-space: nowrap;
  }
  .courses__tab_active {
    color: #F72585;
    background-color: #fff;
  }
  .hero__content {
    padding: 50px 40px 40px;
    height: auto;
  }
  .courses__heading {
    font-size: 28px;
    line-height: 63.98px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .hero__plus-container {
    gap: 10px;
    padding-bottom: 30px;
    flex-direction: column;
  }
  .hero__search-bar::-moz-placeholder {
    color: transparent;
  }
  .hero__search-bar:-ms-input-placeholder {
    color: transparent;
  }
  .hero__search-bar::placeholder {
    color: transparent;
  }
  .hero {
    margin-bottom: 50px;
  }
  .hero-container-left {
    width: 100%;
    max-width: 100%;
  }
  .header__container:last-of-type {
    display: none;
  }
  .header__btn_mobile {
    background-color: #F72585;
    border: 1px solid;
    color: #fff;
  }
  .header {
    padding: 36px 20px;
  }
}
@media screen and (min-width: 768px) {
  .header__btn_mobile {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */